*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
}

/* start home */

.home {
  background-image: url(hero\ img.jpg);
  height: 100vb;
  color: #fff;
  position: relative;
}

.home .nav-bar {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 15%;
  background-color: rgba(0, 0, 0, 0.6);
}

.home .nav-bar .logo {
  color: RGB(255, 48, 91);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.home .nav-bar .menu {
  float: right;
  list-style-type: none;
}

.home .nav-bar .menu .element-menu {
  float: left;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.home .bgc-dark {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.home .content {
  position: absolute;
  z-index: 2;
  top: 42%;
  left: 30%;
  right: 30%;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

.home .content h1 {
  color: RGB(255, 48, 91);
  font-size: 70px;
  font-weight: 700;
}

.home .content h2 {
  font-size: 24px;
  font-weight: 600;
}

.home .content .dynamic-text P {
  font-size: 26px;
  font-weight: 300;
}

.home .nav-bar .menu .element-menu:hover {
  color: RGB(255, 48, 91);
}

.home .content .dynamic-text {
  display: inline-flex;
}

.home .content .dynamic-text .dynamic li {
  list-style: none;
  font-size: 26px;
  font-weight: 300;
  position: relative;
  top: 0;
  animation: slide 4s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -80px;
  }
}

.home .content .dynamic-text .dynamic {
  margin-left: 5px;
  height: 30px;
  line-height: 40px;
  overflow: hidden;
  text-align: left;
}

.home .content .dynamic-text .dynamic li span {
  position: relative;
  color: rgba(255, 255, 255, 0);
}

.home .content .dynamic-text .dynamic li span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 30px;
  overflow: hidden;
  color: #fff;
  border-right: 2px solid #fff;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    width: 0%;
  }

  10% {
    width: 0%;
  }

  40% {
    width: 100%;
  }

  70% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

/* end home */

/* start about */

.about {
  width: 100%;
  padding: 5% 15%;
}

.about .container-img {
  width: 50%;
  float: left;
  text-align: center;
}

.about .about-me {
  width: 50%;
  float: left;
}

.about .container-img .border-img {
  border: 5px solid #232323;
  width: 60%;
}

.about .container-img .border-img .img {
  width: 100%;
  position: relative;
  top: 20px;
  left: 10%;
  overflow: hidden;
}

.about .container-img .border-img .img img {
  width: 100%;
}

.about .container-img .border-img .img .cotnact-me {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 60%;
  transform: translateY(105%);
  transition: 2s transform;
}

.about .container-img .border-img .img .cotnact-me a {
  font-size: 20px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

.about .container-img .border-img .img .cotnact-me a:hover {
  color: RGB(255, 48, 91);
}

.about .container-img .border-img .img:hover .cotnact-me {
  transform: translateY(0);
}

.about .about-me {
  text-align: left;
  width: 50%;
}

.about .about-me h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 34px;
  position: relative;
}

.about .about-me h2::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: -10px;
  border: 2px solid RGB(255, 48, 91);
}

.about .about-me p {
  font-family: 'Roboto', sans-serif;
  color: RGB(85, 85, 85);
  line-height: 25px;
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px dashed;
}

.about .about-me .my-info {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}

.about .about-me .my-info li {
  list-style: none;
  float: left;
  width: 50%;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: RGB(85, 85, 85);
  font-size: 16px;
}

.about .about-me .my-info li a {
  font-size: 10px;
}

.about .about-me .my-info li a {
  color: RGB(85, 85, 85);
  text-decoration: none;
}

.about .about-me .my-info li span {
  color: #000;
}

.about .about-me .btns {
  float: left;
  width: 100%;
  text-align: left;
}

.about .about-me .btns button {
  width: 30%;
  padding: 15px 0;
  margin-right: 20px;
  background-color: RGB(255, 48, 91);
  color: white;
  border: none;
  border-radius: 5px;
}

.about .about-me .btns button:hover {
  background-color: #EC2403;
}

/* end about */

/* start Our Services */

.serv {
  width: 100%;
  padding: 5% 15%;
  background-color: #F1F1F1;
  text-align: center;
  overflow: hidden;
}

.serv h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
  color: RGB(51, 51, 51);
  margin-bottom: 75px;
  position: relative;
}

.serv h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 45%;
  left: 45%;
  height: 15px;
  border-top: 2px solid RGB(255, 48, 91);
  border-bottom: 2px solid RGB(255, 48, 91);
}

.serv h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 40%;
  left: 40%;
  border: 1px solid RGB(255, 48, 91);
}

.serv div {
  float: left;
  width: 25%;
  padding: 40px 15px;
}

.serv div svg {
  color: RGB(255, 48, 91);
  font-size: 36px;
  margin-bottom: 25px;
  transition: 1s transform;
}

.serv div h3 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  color: RGB(51, 51, 51);
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 25px;
}

.serv div p {
  color: RGB(85, 85, 85);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.serv div:hover {
  background-color: #FFFFFF;
  border: 1px solid black;

}

.serv div:hover svg {
  transform: scale(1.5, 1.5);
}

/* end Our Services */

/* start Our Portfolio */

.port {
  width: 100%;
  padding: 5% 15%;
  text-align: center;
  overflow: hidden;
}

.port h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
  color: RGB(51, 51, 51);
  margin-bottom: 75px;
  position: relative;
}

.port h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 45%;
  left: 45%;
  height: 15px;
  border-top: 2px solid RGB(255, 48, 91);
  border-bottom: 2px solid RGB(255, 48, 91);
}

.port h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 40%;
  left: 40%;
  border: 1px solid RGB(255, 48, 91);
}

.port ul {
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
}

.port ul li {
  list-style: none;
  display: inline-block;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  margin: 0px 10px;
  cursor: pointer;
}

.port ul li:hover {
  color: RGB(255, 48, 91);
}

.port .container-img {
  float: left;
  width: 33.33333%;
  padding: 0px 15px;
  margin-bottom: 50px;
  position: relative;
}

.port .container-img img {
  width: 100%;
}

.port .container-img .blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background-color: #7C7978;
  opacity: 0;
}

.port .container-img:hover .blur {
  opacity: 0.5;
}

/* end Our Portfolio */

/* start Our numbers */

.container-num {
  width: 100%;
  padding: 5% 15%;
  background-color: #F1F1F1;
  text-align: center;
  overflow: hidden;
}

.container-num div {
  float: left;
  width: 25%;
  padding: 40px 15px;
}

.container-num div svg {
  color: RGB(255, 48, 91);
  font-size: 36px;
  margin-bottom: 25px;
  transition: 1s transform;
}

.container-num div h3 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  color: RGB(51, 51, 51);
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 25px;
}

.container-num div p {
  color: RGB(85, 85, 85);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* end Our numbers */

/* start Client's Feedback */

.feedback {
  width: 100%;
  padding: 5% 25%;
  text-align: center;
  overflow: hidden;
}

.feedback h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
  color: RGB(51, 51, 51);
  margin-bottom: 75px;
  position: relative;
}

.feedback h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 45%;
  left: 45%;
  height: 15px;
  border-top: 2px solid RGB(255, 48, 91);
  border-bottom: 2px solid RGB(255, 48, 91);
}

.feedback h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 40%;
  left: 40%;
  border: 1px solid RGB(255, 48, 91);
}

.feedback .container {
  width: 100%;
  background-color: #F1F1F1;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;
}

.feedback .container::before {
  content: "";
  border-top: 150px solid rgba(255, 48, 91, 0);
  border-right: 150px solid rgba(255, 48, 91, 1);
  border-bottom: 150px solid rgba(255, 48, 91, 0);
  border-left: 150px solid rgba(255, 48, 91, 0);
  transform: rotate(45deg);
  position: absolute;
  top: -152px;
  left: -149px;
}

.feedback .container div {
  float: left;
}

.feedback .container .cont-img {
  width: 20%;
}

.feedback .container .cont-img img {
  width: 80%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.feedback .container .content {
  width: 80%;
  text-align: left;
  position: relative;
  z-index: 1;
}

.feedback .container .content div {
  width: 100%;
}

.feedback .container .content h1 {
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 26px;
  margin-bottom: 15px;
}

.feedback .container .content .loction {
  color: RGB(119, 119, 119);
  margin-bottom: 15px;
}

.feedback .container .content p {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: RGB(85, 85, 85);
  line-height: 25px;
  margin-bottom: 15px;
}

.feedback .container .content .rate svg {
  color: gold;
}

/* end Client's Feedback */

/* start Our Blog */

.blog {
  width: 100%;
  height: 100vh;
  padding: 5% 15%;
  background-color: #F1F1F1;
  text-align: center;
  overflow: hidden;
}

.blog h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
  color: RGB(51, 51, 51);
  margin-bottom: 75px;
  position: relative;
}

.blog h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 45%;
  left: 45%;
  height: 15px;
  border-top: 2px solid RGB(255, 48, 91);
  border-bottom: 2px solid RGB(255, 48, 91);
}

.blog h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 40%;
  left: 40%;
  border: 1px solid RGB(255, 48, 91);
}

.blog .container-blog {
  float: left;
  width: 33.33333%;
  text-align: left;
  padding: 0 15px;
  height: 80%;
}

.blog .container-blog div {
  width: 100%;
  background-color: #FFFFFF;
  height: 100%;
}

.blog .container-blog .cover {
  width: 100%;
  height: 45%;
}

.blog .container-blog .cover iframe {
  width: 100%;
  height: 100%;
}

.blog .container-blog .cover img {
  width: 100%;
  height: 100%;
}

.blog .container-blog p {
  margin: 10px 10px;
  color: RGB(85, 85, 85);
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.blog .container-blog h3 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 26px;
  margin: 10px 10px;
}

.blog .container-blog a {
  margin: 10px 10px;
  color: RGB(85, 85, 85);
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  text-decoration: none;
}

/* end Our Blog */

/* start Contact Us */

.contact {
  width: 100%;
  padding: 5% 25%;
  text-align: center;
  overflow: hidden;
}

.contact h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 40px;
  color: RGB(51, 51, 51);
  margin-bottom: 75px;
  position: relative;
}

.contact h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 45%;
  left: 45%;
  height: 15px;
  border-top: 2px solid RGB(255, 48, 91);
  border-bottom: 2px solid RGB(255, 48, 91);
}

.contact h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 40%;
  left: 40%;
  border: 1px solid RGB(255, 48, 91);
}

.contact form {
  width: 100%;
  text-align: left;
}

.contact form .name,
.contact form .mail {
  width: 47%;
  height: 40px;
  margin-bottom: 20px;
}

.contact form .name {
  margin-right: 5%;
}

.contact form .sup {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.contact form textarea {
  width: 100%;
  margin-bottom: 20px;
  resize: both;
  overflow: auto;
}

.contact form button {
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: RGB(255, 48, 91);
  border: none;
  border-radius: 5px;
}

.contact form button:hover {
  background-color: #EC2403;
}

/* end Contact Us */

/* start footer */

.footer {
  background-color: #333333;
  text-align: center;
  color: #fff;
  padding: 70px 0;
}

.footer .icons a {
  font-size: 20px;
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.footer .icons a:hover {
  color: RGB(255, 48, 91);
}

.footer p {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
}

.footer p a {
  text-decoration: none;
  color: RGB(255, 48, 91);
}

.footer p a:hover {
  text-decoration: underline;
}

/* end footer */